body{
  font-size: 20px;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
a{
  text-decoration: none;
}
#wrapper{

}

#wrapper > header{
  width: 100%;
  height: 50px;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  padding: 0 25px;


}

#wrapper > header > div{

}
#wrapper > header > div a{
  color: #999;
}
#wrapper > header > nav{
  margin-left: auto;

}
#wrapper > header > nav a{
  color: #2980b9;
  padding: 10px;
}
#wrapper >main{

  width: 100%;
  max-width: 1000px;
  margin: 50px auto;;

}
#wrapper >main > .main-content-wrapper{

}
.banner{



}
.banner-title{
  margin: 25px 0;


}
.banner-title h1{
  

}
.banner-text{


}
#wrapper > footer{

}
